@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@plugin "daisyui" {
  themes:
    florBlanca --default,
    garden,
    dracula --prefersdark,
    emerald,
    cupcake,
    coffee,
    pastel,
    cyberpunk,
    valentine,
    fantasy,
    lemonade,
    winter,
    sunset,
    aqua,
    dark,
    caramellatte,
    abyss;
}

@plugin "daisyui/theme" {
  name: "florBlanca";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(94% 0.029 294.588);
  --color-base-200: oklch(89% 0.057 293.283);
  --color-base-300: oklch(70% 0.183 293.541);
  --color-base-content: oklch(28% 0.141 291.089);
  --color-primary: oklch(49% 0.27 292.581);
  --color-primary-content: oklch(96% 0.016 293.756);
  --color-secondary: oklch(74% 0.238 322.16);
  --color-secondary-content: oklch(45% 0.211 324.591);
  --color-accent: oklch(71% 0.202 349.761);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(95% 0.026 236.824);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* Theme overrrides */

@plugin "daisyui/theme" {
  name: "caramellatte";
  --color-primary: oklch(47% 0.114 61.907);
}
@plugin "daisyui/theme" {
  name: "pastel";
  --color-primary: oklch(71% 0.203 305.504);
  --color-primary-content: oklch(38% 0.176 304.987);
}
@plugin "daisyui/theme" {
  name: "cupcake";
  --color-primary: oklch(77% 0.152 181.912);
  --color-primary-content: oklch(43% 0.078 188.216);
}

body {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Toastify__toast {
  @apply rounded border-none bg-transparent;
}

.scale-hover {
  @apply hover:scale-110 ease-in duration-200;
}

.btn-primary:disabled {
  @apply cursor-not-allowed bg-primary/40 text-primary-content;
}

.full-image {
  view-transition-name: full-image;
}

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */
