@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control {
  @apply relative;
}
.floating-label {
  @apply label absolute left-3 pointer-events-none transition-all text-base-content text-opacity-50 -top-4 peer-placeholder-shown:top-1.5 text-xs peer-placeholder-shown:text-sm bg-base-100 peer-placeholder-shown:bg-transparent;
}
.floating-label-input {
  @apply input input-bordered placeholder-transparent;
}
.scale-hover {
  @apply hover:scale-110 ease-in duration-200;
}

.btn-primary:disabled {
  @apply cursor-not-allowed bg-primary/40 text-primary-content;
}

body {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */
